.vscode/launch.json
vscode/
dist/
additional_files/
__pycache__/
songbook.tex
songbook.aux
songbook.fdb_latexmk
songbook.log
songbook.synctex.gz
songbook.toc
songbook.fls
songbook.pdf
songlist.toc
setup.py
additional_files.rar
songbook.out
