.vscode/launch.json
vscode/
dist/
additional_files/
__pycache__/
songbook.tex
songbook.aux
songbook.fdb_latexmk
songbook.log
songbook.synctex.gz
songbook.toc
songbook.fls
songlist.toc
setup.py
songbook.pdf
additional_files.rar
songbook.out
latexheader copy.txt
tex.py
texput.log
39venv/
output/
dataHK/
songbook_list.toc
a_py_2_exe_config.json
Flat-Icons.com-Flat-Guitar.ico
songbook.exe
data/latexheader.txt
