__pycache__/
songbook.tex
songbook.aux
songbook.fdb_latexmk
songbook.log
songbook.synctex.gz
songbook.toc
songbook.fls
songlist.toc
songbook.out
songbook_list.toc
songbook-pdf.log
songbook-py.log
output/
debug.log
so.py
.vscode
src/flask/build/
songbook.pdf
