<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
</head>
    <body>
        <div class="toc">
            {% autoescape false %}
            <form method="GET" action="/toc" target="toc">
                {{ filter.filter(class_ = "search") }}
                <input type="submit" value="Search">
            </form>
                {{songListText.replace("href", "target=\"main\" href").replace("<br>", "").replace("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", "")}}
            {% endautoescape %}
        </div>
    </body>
</html>