<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
</head>
    <body class = "song">
        <script src="https://use.fontawesome.com/4be8498a81.js"></script>
        {% autoescape false %}
        <div class="song">
            <table width="100%">
                <tr>
                    <td><h2 class="song">{{song.title}}</h2></td>
                    <td>
                        <h2 class="song" align="right">{{song.author}}</h2>
                    </td>
                </tr>
            <tr>
                <td></td>
                <td><h2 class="song" align="right">{{song.capo}}</h2></td>
            </tr>
            <tr>
                <td>
                    <form method="GET" action="" target="main" align="center">
                        <input type="hidden" name="chordShift" value="{{(chordShift-1) % 12}}">
                        <button type="submit" class="chordsButton" value="Down">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <form method="GET" action="" target="main" align="center">
                        <input type="hidden" name="chordShift" value="{{(chordShift+1) % 12}}">
                        <button type="submit" class="chordsButton" value="Up">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </table>
            <table>{% for section in song.sections %}
                <tr style="vertical-align:top">
                    {% if section.chorus %}
                        <td class="chorus">&emsp;&emsp;</td>
                        <td ><p class="lyrics">{{section.lyrics.replace("\n", "&emsp;&emsp;<br>")}}</p></td>
                    {% else %}
                        <td colspan="2"><p class="lyrics">{{section.lyrics.replace("\n", "&emsp;&emsp;<br>")}}</p></td>
                    {% endif %}
                    <td><p class="chords">{{shiftChords(section.chords, chordShift).replace("\n", "&emsp;&emsp;<br>")}}</p></td>
                </tr>{% endfor %}
            </table>
        </div>
        {% endautoescape %}
    </body>
</html>
