<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
</head>
    <body>
        <script src="https://use.fontawesome.com/4be8498a81.js"></script>
        <div class="toc">
            <div class="search">
                {% autoescape false %}
                <form method="GET" action="/toc" target="toc">
                    {{ filter.filter(class_ = "searchTerm", placeholder="Search for songs...") }}
                    <button type="submit" class="searchButton" value="Search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    {% if filter.filter.errors %}
                        <ul class="errors">
                        {% for error in filter.filter.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </form>
            </div>
                {{songListText.replace("href", "target=\"main\" href").replace("<br>", "").replace("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", "")}}
                {% endautoescape %}
        </div>
    </body>
</html>
