name: render-deployment
on: 
  push:
    branches:
      - hk-songbook
jobs:
  deploy:
    name: render-deployment
    runs-on: ubuntu-latest
    steps:
      - name: hk-songbook
        uses: bounceapp/render-action@0.6.0
        with:
          service-id: ${{ secrets.HK_RENDER_SERVICE }}
          render-token: ${{ secrets.RENDER_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          retries: 10
          wait: 20000